$screenaml-base-gray: #505461;
$screenaml-persian-green: #00a693;
$screenaml-atoll: #358680;
$screenaml-midnight-blue: #191970;
$screenaml-section-grey: #e2e2e2;

$screenaml-active-link: $screenaml-persian-green;
$screenaml-button-primary-text-color: #212121;
$screenaml-button-primary-text-inverted: #fff;
$screenaml-button-disabled-background: #a9acb9;

$screenaml-link: #565866;
$menu-link-color: $screenaml-button-primary-text-color;
