/* Desktop typescale is based on a base of 16px using a 1.250 Major Third scale */
$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;

/* Mobile typescale is based on a base of 16px using a 1.125 Major Second scale */
$h1-mobile-font-size: 1.802rem;
$h2-mobile-font-size: 1.602rem;
$h3-mobile-font-size: 1.424rem;
$h4-mobile-font-size: 1.266rem;
