.page-footer {
  .footer-content {
    margin: 0 auto;
    max-width: $max-page-width;

    @media #{$mq-tablet-and-up} {
      display: flex;
      justify-content: space-between;
    }
  }

  .company-container,
  .legal-container {
    margin-top: 20px;

    @media #{$mq-tablet-and-up} {
      margin-top: 0;
    }
  }
}
